node_modules
dist
*.log
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/build/
service-account*.json
*firebase-adminsdk*.json
/.env
serviceAccountKey.json
